h1, h2, h3, h4, h5 {
	font-weight: bold;
	letter-spacing: normal;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3, h3.subsection-title {
	font-size: 1.75rem;
	letter-spacing: normal;
}

h4 {
	font-size: 1.5rem;
}

h4.name {
	font-size: 1.65rem;
	letter-spacing: -0.03rem;
	margin-bottom: .5rem;
}

h5, .container-overview .subsection-title {
	font-size: 1.15rem;
	color: #777 ;
}

h6 {
	font-size: 1rem;
	font-weight: normal;
}

ul {
	margin-block-start: .5rem;
}

.params code, .description code, .param-desc code {
	font-weight: bold;
}

.prettyprint {
	tab-size: 4;
}

.prettyprint.linenums li {
	line-height: 1.4em;
}

.prettyprint code {
	padding: 0 12px;
}
